{{define "title"}}Friend accepted{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/friends">Friends</a> | Friend added</p>

<p>Your friend has been added, and they have been informed. You may now both contact each other. You may now <a href="/friends">return</a>.</p>

{{template "foot" .}}
