{{define "title"}}Friend added{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/friends">Friends</a> | Friend added</p>

<p>Your friend has been added, and they can now contact you. An invitation has also been sent to them. You may now <a href="/friends">return</a>.</p>

{{template "foot" .}}
