{{define "title"}}Friend removed{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/friends">Friends</a> | Friend removed</p>

<p>Your friend has been removed. You may now <a href="/friends">return</a>.</p>

{{template "foot" .}}
