{{define "title"}}Friend invitation deleted{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/friends">Friends</a> | Invitation deleted</p>

<p>The invitation has been deleted. The sender has not been informed. You may now <a href="/friends">return</a>.</p>

{{template "foot" .}}
