{{define "title"}}Friends{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | Friends</p>

<p>{{if len .friends}}{{range .friends}}{{.name}} | <a href="/friends/delete?id={{.id}}">Delete</a><br/>{{end}}
{{else}}You have no friends.{{end}}</p>

<p><a href="/friends/new">Add a new friend</a></p>

{{if len .invites}}<p>Or click on a received invitation:</p>

<p>{{range .invites}}{{.name}} | <a href="/friends/accept?id={{.id}}">Accept</a> | <a href="/friends/ignore?id={{.id}}">Ignore</a><br/>{{end}}</p>{{end}}

{{template "foot" .}}
