{{define "title"}}New friend{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/friends">Friends</a> | New</p>

<h3>Search for friends:</h3>

<form action="/friends/search">
    <label for="search">Name or part of your friend's name:</label>
    <input type="text" name="search"/><br/>
    <input type="submit" value="Search"/>
</form>

<h3>Or manually enter your friend's details:</h3>

<form action="/friends/create">
	<label for="name">Your friend's name:</label>
	<input type="text" name="name"/><br/>
	<label for="id">Your friend's public key:</label>
	<input type="text" name="id"/><br/>
	<input type="submit" value="Add friend"/>
</form>

{{template "foot" .}}
