{{define "title"}}Search for friends{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/friends">Friends</a> | Friends found</p>

{{if len .}}<p>Click on a friend to add them:</p>

<p>{{range .results}}<a href="/friends/create?id={{.id}}&name={{.name}}">{{.name}}</a>, fingerprint {{.fingerprint_hyphens}}<br/>{{end}}</p>
{{else}}<p>No matches found.</p>{{end}}

{{template "foot" .}}
